https: //dev.to/lloyds-digital/let-s-create-a-carousel-in-react-native-4ae2;
.color{
    background-color: #e2e2e5
}
rgba(252, 184, 195, 0.2)



{c.class.map((j, i) => (
    <View
      key={i}
      style={{
        flexDirection: 'row',
        marginTop: '2%',
        marginLeft: '0%',
        //   justifyContent: 'space-between',
      }}>
      <View style={{width: '80%'}}>
        <Text
          style={{
            fontSize: dimension.fontScale * 13,
            color: 'grey',
          }}>
          {j.classTitle}
          {'gg '}
        </Text>
        {/* <Text
          style={{
            fontSize: dimension.fontScale * 13,
            color: 'grey',
          }}>
          {'3:00'}
        </Text> */}
      </View>
    </View>
  ))}